<h1> Index Book App </h1>

<% @books.each do |book| %>
	<%= book.name %>

	<%= link_to 'Show', book %>
	<%= link_to 'Edit', edit_book_path(book) %>
	<%= link_to 'Destroy', book, method: :delete %><br>
<% end %>