<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Show</th>
        <th>Destroy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id=<%= "user_#{user.id}" %>>
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
